<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welltech.waterAffair.repository.AlarmProcessRecordMapper">
  <resultMap id="BaseResultMap" type="com.welltech.waterAffair.domain.entity.AlarmProcessRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="alarm_type" jdbcType="VARCHAR" property="alarmType" />
    <result column="meter_name" jdbcType="VARCHAR" property="meterName" />
    <result column="alarm_content" jdbcType="VARCHAR" property="alarmContent" />
    <result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, alarm_type, meter_name, alarm_content, alarm_level, status, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wt_alarm_process_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wt_alarm_process_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.welltech.waterAffair.domain.entity.AlarmProcessRecord">
    insert into wt_alarm_process_record (id, mid, alarm_type, 
      meter_name, alarm_content, alarm_level, 
      status, createtime)
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=INTEGER}, #{alarmType,jdbcType=VARCHAR}, 
      #{meterName,jdbcType=VARCHAR}, #{alarmContent,jdbcType=VARCHAR}, #{alarmLevel,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.welltech.waterAffair.domain.entity.AlarmProcessRecord">
    insert into wt_alarm_process_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="alarmType != null">
        alarm_type,
      </if>
      <if test="meterName != null">
        meter_name,
      </if>
      <if test="alarmContent != null">
        alarm_content,
      </if>
      <if test="alarmLevel != null">
        alarm_level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=VARCHAR},
      </if>
      <if test="meterName != null">
        #{meterName,jdbcType=VARCHAR},
      </if>
      <if test="alarmContent != null">
        #{alarmContent,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null">
        #{alarmLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.welltech.waterAffair.domain.entity.AlarmProcessRecord">
    update wt_alarm_process_record
    <set>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="alarmType != null">
        alarm_type = #{alarmType,jdbcType=VARCHAR},
      </if>
      <if test="meterName != null">
        meter_name = #{meterName,jdbcType=VARCHAR},
      </if>
      <if test="alarmContent != null">
        alarm_content = #{alarmContent,jdbcType=VARCHAR},
      </if>
      <if test="alarmLevel != null">
        alarm_level = #{alarmLevel,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createtime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.welltech.waterAffair.domain.entity.AlarmProcessRecord">
    update wt_alarm_process_record
    set mid = #{mid,jdbcType=INTEGER},
      alarm_type = #{alarmType,jdbcType=VARCHAR},
      meter_name = #{meterName,jdbcType=VARCHAR},
      alarm_content = #{alarmContent,jdbcType=VARCHAR},
      alarm_level = #{alarmLevel,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findPageByCriteria" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from wt_alarm_process_record
    <where>
    	<if test="criteria.nums != null">
    		and mid in
    		<foreach collection="criteria.nums" item="item" index="index" separator="," open="(" close=")">
    			#{criteria.nums[${index}]}
    		</foreach>
    	</if>
    	<if test="criteria.startTime != null">
    		and createtime &gt;= #{criteria.startTime}
    	</if>
    	<if test="criteria.endTime != null">
    		and createtime &lt;= #{criteria.endTime}
    	</if>
    	<if test="criteria.alarmType != null and criteria.alarmType != ''">
    		and alarm_type = #{criteria.alarmType}
    	</if>
    	<if test="criteria.alarmContents != null">
    		and ( alarm_type = '系统告警' or ( alarm_type = '表端报警'
    		and alarm_content in
    		<foreach collection="criteria.alarmContents" item="item" index="index" separator="," open="(" close=")">
    			#{criteria.alarmContents[${index}]}
    		</foreach>
            ))
    	</if>
    </where>
  </select>
    <select id="queryByCriteria" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from wt_alarm_process_record
    <where>
    	<if test="criteria.nums != null">
    		and mid in
    		<foreach collection="criteria.nums" item="item" index="index" separator="," open="(" close=")">
    			#{criteria.nums[${index}]}
    		</foreach>
    	</if>
    	<if test="criteria.startTime != null">
    		and createtime &gt;= #{criteria.startTime}
    	</if>
    	<if test="criteria.endTime != null">
    		and createtime &lt;= #{criteria.endTime}
    	</if>
    	<if test="criteria.alarmType != null and criteria.alarmType != ''">
    		and alarm_type = #{criteria.alarmType}
    	</if>
    	<if test="criteria.alarmContents != null">
    		and ( alarm_type = '系统告警' or ( alarm_type = '表端报警'
    		and alarm_content in
    		<foreach collection="criteria.alarmContents" item="item" index="index" separator="," open="(" close=")">
    			#{criteria.alarmContents[${index}]}
    		</foreach>
            ))
    	</if>
    </where>
  </select>
  
  <select id="listByCriteria" resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from wt_alarm_process_record
    <where>
    	<if test="criteria.nums != null">
    		and mid in
    		<foreach collection="criteria.nums" item="item" index="index" separator="," open="(" close=")">
    			#{criteria.nums[${index}]}
    		</foreach>
    	</if>
    	<if test="criteria.startTime != null">
    		and createtime &gt;= #{criteria.startTime}
    	</if>
    	<if test="criteria.endTime != null">
    		and createtime &lt;= #{criteria.endTime}
    	</if>
    	<if test="criteria.alarmType != null and criteria.alarmType != ''">
    		and alarm_type = #{criteria.alarmType}
    	</if>
    	<if test="criteria.status != null and criteria.status != ''">
    		and status = #{criteria.status}
    	</if>
        <if test="criteria.alarmLevel != null ">
            and alarm_level = #{criteria.alarmLevel}
        </if>
    	<if test="criteria.alarmContents != null">
    		and alarm_content in
    		<foreach collection="criteria.alarmContents" item="item" index="index" separator="," open="(" close=")">
    			#{criteria.alarmContents[${index}]}
    		</foreach>
    	</if>
    </where>
      order by createtime desc limit 3;
  </select>

    <select id="listByCriteria2" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from wt_alarm_process_record
        <where>
            <if test="criteria.nums != null">
                and mid in
                <foreach collection="criteria.nums" item="item" index="index" separator="," open="(" close=")">
                    #{criteria.nums[${index}]}
                </foreach>
            </if>
            <if test="criteria.startTime != null">
                and createtime &gt;= #{criteria.startTime}
            </if>
            <if test="criteria.endTime != null">
                and createtime &lt;= #{criteria.endTime}
            </if>
            <if test="criteria.alarmType != null and criteria.alarmType != ''">
                and alarm_type = #{criteria.alarmType}
            </if>
            <if test="criteria.status != null and criteria.status != ''">
                and status = #{criteria.status}
            </if>
            <if test="criteria.nums != null">
                and alarm_content in
                ('空管报警','励磁信号错误','电极信号错误','瞬时流量反向','正向累计流量溢出',
                '反向累计流量溢出','工作电压过低','压力连接故障（断线报警）','压力下限报警','压力上限报警')
            </if>
        </where>
        order by createtime desc limit 3;
    </select>
<select id="queryTotalRecord" resultType="java.lang.Integer">
        select
        count(*)
        from wt_alarm_process_record
        <where>
            <if test="criteria.nums != null">
                and mid in
                <foreach collection="criteria.nums" item="item" index="index" separator="," open="(" close=")">
                    #{criteria.nums[${index}]}
                </foreach>
            </if>
            <if test="criteria.startTime != null  and criteria.startTime > '2018-01-01 00:00:00' ">
                and createtime &gt;= #{criteria.startTime}
            </if>
            <if test="criteria.endTime != null">
                and createtime &lt;= #{criteria.endTime}
            </if>
            <if test="criteria.alarmType != null and criteria.alarmType != ''">
                and alarm_type = #{criteria.alarmType}
            </if>
            <if test="criteria.status != null and criteria.status != ''">
                and status = #{criteria.status}
            </if>
            <if test="criteria.alarmContents != null">
                and alarm_content in
                <foreach collection="criteria.alarmContents" item="item" index="index" separator="," open="(" close=")">
                    #{criteria.alarmContents[${index}]}
                </foreach>
            </if>
        </where>
</select>
</mapper>