<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welltech.waterAffair.repository.MeterTypeMapper">
  <resultMap id="BaseResultMap" type="com.welltech.waterAffair.domain.entity.MeterType">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="meterType" jdbcType="VARCHAR" property="meterType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, meterType
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
  	select
  		<include refid="Base_Column_List" />
  	from
  		meterType
  </select>

  
</mapper>