<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welltech.waterAffair.repository.UserAreaIdMapper">

    <resultMap id="BaseResultMap" type="com.welltech.waterAffair.domain.entity.UserAreaId">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="areaName" jdbcType="VARCHAR" property="areaName" />
    </resultMap>

    <insert id="save" parameterType="com.welltech.waterAffair.domain.entity.UserAreaId">
        insert into userAreaId (id, areaName)
        values (#{id}, #{areaName})
    </insert>

    <select id="findOneById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        *
        from
        userAreaId
        where
        id = #{id}
        limit 1
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select * from userAreaId
    </select>
</mapper>